In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\d\python\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in d:\d\python\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\d\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\d\python\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\d\python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\d\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install numpy

Requirement already satisfied: numpy in d:\d\python\lib\site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\d\python\lib\site-packages (1.3.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy<2.0,>=1.17.3 in d:\d\python\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in d:\d\python\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in d:\d\python\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\d\python\lib\site-packages (from scikit-learn) (3.2.0)

In [5]:
pip install nltk

Requirement already satisfied: nltk in d:\d\python\lib\site-packages (3.8.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: click in d:\d\python\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in d:\d\python\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in d:\d\python\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in d:\d\python\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in d:\d\python\lib\site-packages (from click->nltk) (0.4.6)

In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
netflix_df = pd.read_csv("netflixData.csv")
print(netflix_df.head())

                                Show Id                          Title  \
0  cc1b6ed9-cf9e-4057-8303-34577fb54477                       (Un)Well
1  e2ef4e91-fb25-42ab-b485-be8e3b23dedb                         #Alive
2  b01b73b7-81f6-47a7-86d8-acb63080d525  #AnneFrank - Parallel Stories
3  b6611af0-f53c-4a08-9ffa-9716dc57eb9c                       #blackAF
4  7f2d4170-bab8-4d75-adc2-197f7124c070               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                      Director  \
0                          NaN
1                       Cho Il
2  Sabina Fedeli, Anna Migotto
3                          NaN
4             Michael Margolis

                                           Genres  \
0                                      Reality TV
1  Horror Movies, International Movies, Thrillers
2             Documentaries, International Movies
3                                     TV Comedies
4             Documentaries, International Movies

                                                Cast Production Country  \
0                                                NaN      United States
1                           Yoo Ah-in, Park Shin-hye        South Korea
2                        Helen Mirren, Gengher Gatti              Italy
3  Kenya Barris, Rashida Jones, Iman Benson, Genn...      United States
4                                                NaN             Canada

   Release Date Rating  Duration Imdb Score Content Type         Date Added
0        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
1        2020.0  TV-MA    99 min     6.2/10        Movie  September 8, 2020
2        2019.0  TV-14    95 min     6.4/10        Movie       July 1, 2020
3        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
4        2020.0  TV-14    90 min     5.1/10        Movie   February 5, 2020

In [8]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.2+ KB

In [9]:
print(netflix_df.isnull())

      Show Id  Title  Description  Director  Genres   Cast  \
0       False  False        False      True   False   True
1       False  False        False     False   False  False
2       False  False        False     False   False  False
3       False  False        False      True   False  False
4       False  False        False     False   False   True
...       ...    ...          ...       ...     ...    ...
5962    False  False        False     False   False  False
5963    False  False        False      True   False  False
5964    False  False        False      True   False  False
5965    False  False        False     False   False  False
5966    False  False        False     False   False  False

      Production Country  Release Date  Rating  Duration  Imdb Score  \
0                  False         False   False     False       False
1                  False         False   False     False       False
2                  False         False   False     False       False
3                  False         False   False     False       False
4                  False         False   False     False       False
...                  ...           ...     ...       ...         ...
5962               False         False   False     False       False
5963                True         False   False     False        True
5964                True         False   False     False        True
5965               False         False   False     False       False
5966                True         False   False     False       False

      Content Type  Date Added
0            False        True
1            False       False
2            False       False
3            False        True
4            False       False
...            ...         ...
5962         False       False
5963         False        True
5964         False        True
5965         False       False
5966         False       False

[5967 rows x 13 columns]

In [10]:
print(netflix_df.isnull().sum())

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [11]:
required_nt_df = netflix_df[["Title","Description", "Content Type", "Genres" ]]
required_nt_df.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [12]:
# drop the rows which is null
required_nt_df.dropna()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Movie,"Comedies, Dramas, International Movies"
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,TV Show,"International TV Shows, TV Dramas"
5964,海的儿子,"Two brothers start a new life in Singapore, wh...",TV Show,"International TV Shows, TV Dramas"
5965,반드시 잡는다,After people in his town start turning up dead...,Movie,"Dramas, International Movies, Thrillers"
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Movie,Children & Family Movies

In [13]:
required_nt_df.count()

Title           5967
Description     5967
Content Type    5967
Genres          5967
dtype: int64

In [14]:
# clean the data 
import nltk

In [15]:
nltk.download("stopwords")
stemer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopwords = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\~CW~\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
#clean the data
import re

def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

<>:6: SyntaxWarning: invalid escape sequence '\['
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\w'
<>:6: SyntaxWarning: invalid escape sequence '\['
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\w'
C:\Users\~CW~\AppData\Local\Temp\ipykernel_12260\109391550.py:6: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]', '', text)
C:\Users\~CW~\AppData\Local\Temp\ipykernel_12260\109391550.py:7: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub('https?://\S+|www\.\S+', '', text)
C:\Users\~CW~\AppData\Local\Temp\ipykernel_12260\109391550.py:11: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)

In [22]:
required_nt_df["Title"] = required_nt_df["Title"].apply(clean)

NameError: name 'stopword' is not defined